# Игнорируем виртуальное окружение
venv/
ENV/
env/

# Игнорируем кэш Python
__pycache__/
*.py[cod]
*$py.class

# Игнорируем SQLite базу данных (если используешь SQLite)
db.sqlite3

# Игнорируем логи
*.log

# Игнорируем настройки IDE (например, VS Code)
.vscode/

# Игнорируем системные файлы
.DS_Store
Thumbs.db
